
@model DigitalInvest.FundingPlatform.Models.FundingViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="fundingModalLabel">Invest in a funding</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <form asp-action="EditFunding" id="fundingForm">
            <div class="modal-body">
                <div class="form-group">
                    <label for="funding">Funding Name:</label>
                    <p>@Model.Name</p>
                </div>
                <div class="form-group">
                    <label for="investment" class="col-2 col-form-label">Investment:</label>
                    <input class="form-control" name="Investment" type="number" id="investment">
                </div>
            </div>
            <div class="modal-footer">
                <button id="save" type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>