@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error. @Model.StatusCode</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h2 class="text-danger">@Model.ErrorMessage</h2>

@if (!string.IsNullOrEmpty(Model.RouteOfException)) {
<p>
    <strong>Route of Exception:</strong> <code>@Model.RouteOfException</code>
</p>
}